<% content_for :head do %>
    <%= javascript_include_tag "lvl1World"  %>
<% end %>
<table>
        <tr>
            <td>
                Levels:
            
                <button id="lvl1Button" > _1_ </button>
                <a href="lvl2"><button id="lvl2Button" > _2_ </button></a>
                <a href="lvl3"><button id="lvl3Button" > _3_ </button></a>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                <p>Instructions:</p>
                <span class="level1">Drag the instructions into available slots and help keep pedestrians and cars moving.</span>
                <br/>
                <canvas id="myWorldCanvas" width="1100" height="450"></canvas>
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
        </tr>
    
    </table>