/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 canvas {
    border: 5px solid green;
    border-radius: 7px;
  }
#eventResults {
  width: 200px;
  border: 5px solid orange;
}
#myBoxCanvas {
    height: 450px;
    width: 200px;
    border: 5px solid green;
    border-radius: 7px;
}
.tab {
   margin-left: 40px;
}
.lvl3Results {
  width: 200px;
  border: 5px solid orange;
}
.lvl3CompanySelectors {
  border: 5px solid blue;
  border-radius: 7px;
}
.lvl3PrisonSelectors {
  border: 5px solid red;
  border-radius: 7px;
}
.lvl3BankSelectors {
  border: 5px solid green;
  border-radius: 7px;
}
.slider {
  width: 300px;
}
#speedSlider {
  width: 150px;
}
